.git
.gitignore
node_modules
dist
docker/.env

backend/log/*
backend/data/*
backend/backups/*
backend/vendor/

backend/config/settings.ini
backend/config/settings.ini.backup*
backend/config/settings.ini.del
backend/config/api.passwd.php
backend/config/api.config.php

.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
docs/
dev/
